{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/footerl.css' %}">
<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <nav class="nav-bar">
      <span class="logo">JOBKONNECT</span>
      <ul class="nav-list">
          <li class="nav-item" ><a href="/">HOME</a></li >
          <li class="nav-item"><a href="/employer/post_job">POST JOB</a></li >
          <li class="nav-item"><a href="/employee/">FIND JOB</a></li >
          <li class="nav-item"><a href="/about/">ABOUT US</a></li >
          <li class="nav-item"><a href="/contact/">CONTACT US</a></li >
          <li class="nav-item"><button ><a href="/account/login" class="buttons">LOGIN</a></button></li >
          <li class="nav-item"><button ><a href="/account/" class="buttons">REGISTER</a></button></li >
      </ul>
  </nav>
<div>
    <main>
      <article class="article">
        <div class="logged_out_form">
          <h2 class="hbtn_logo">Job konnect login</h2>
          <form action="" method="post">
            {% csrf_token %}
            <div class="field">
              <label class="control-label" for="user_email">Username</label><br>
              <input autofocus="autofocus" class="form-control" type="text" name="username" id="user_email" />
            </div><br>
            <div class="field">
              <label class="control-label" for="user_password">Password</label><br>
              <input autocomplete="off" class="form-control" type="password" name="password" id="user_password" />
            </div><br>
            <div class="actions">
              <input type="submit" name="commit" value="Log in" class="btn btn-primary" data-disable-with="Log in" />
            </div>
          </form>
        <ul id="devise_links" class="gap">
        <a href="">Forgot your password?</a>
        </ul>
        </div>
      </article>
      {% comment %} <div class="copyright">Copyright © 2023 JobKonnect,<br> All rights reserved.</div> {% endcomment %}
    </main>
  </div>
  <div>
    <footer>
      <p>&copy; 2023 JobKonnect. All rights reserved. | <a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'about' %}">About Us</a> | <a href="{% url 'contact' %}">Contact Us</a> | <a href="{% url 'terms' %}">Terms of service</a></p>
    </footer>
  </div>
  </body>
</html>