<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jobkonnect</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                   <a>Jobkonnect</a>
                   <a>Home</a>
                   <a>About Us</a>
                   <a>Contact Us</a>
                   Find A Job
                   Post A Job
                </ul>
            </nav>
        </header>
        {% block body %}
        {% %}
        <footer>
            <ul>
                <a>Home</a>
               <a>About Us</a>
               <a>Contact Us</a>
            </ul>
        </footer>
    </body>
</html>