<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jobkonnect</title>
    </head>
    <body>
        <header>
            <nav>
                <a>Jobkonnect</a>
                <a>Home</a>
                <a>About Us</a>
                <a>Contact Us</a>
                <a>Find A Job</a>
                <a>Post A Job</a>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <a>Home</a>
            <a>About Us</a>
            <a>Contact Us</a>
        </footer>
    </body>
</html>