/* default styles */
html, body, h1, h2, p, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Global styles */
  body {
    background-color: #f1f1f1;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="file"],
  form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fa7a7a;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #bbf4f8;
    padding: 10px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  