
  body {
    margin: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: #00bdfe;
    color: #fff;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .container {
    flex-grow: 1;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px; /* Adjust this value based on your design needs */
    padding-left: 5px;
    padding-right: 5px;
  }
  .container p {
    font-size: 18px;
  }
  .container p a {
    color: #00bdfe;
    text-decoration: underline;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 0%;
    /*margin-top: 100%; */
    height: 150px
  }

  footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }