main {
    width: 30%;
    height: 60%;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10%;
    border:2px solid rgb(204, 204, 204);
    background-color: brown;
    text-align: center;
  }
  
  main .field input {
    width: 80%;
    height: 40px;
    border:2px solid rgb(204, 204, 204);
    background-color: red;
    text-align: center;
}

  
  main .field label {
    width: 80%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center
  }
  
  main h2 {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
  }
 .actions{
    height: 40px;
 }
  #devise_links {
    margin-left: -10%;
  }