{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>JobKonnect</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <nav class="nav-bar">
            <span class="logo">JOBKONNECT</span>
            <ul class="nav-list">
                <li class="nav-item" ><a href="/">HOME</a></li >
                <li class="nav-item"><a href="/employer/post_job">POST JOB</a></li >
                <li class="nav-item"><a href="/employee/">FIND JOB</a></li >
                <li class="nav-item"><a href="/about">ABOUT US</a></li >
                <li class="nav-item"><a href="/contact/">CONTACT US</a></li >
                <li class="nav-item"><button ><a href="/account/login" class="buttons">LOGIN</a></button></li >
                <li class="nav-item"><button ><a href="/account/" class="buttons">REGISTER</a></button></li >
            </ul>
    </nav>
    <main class="container-1">
        <div class="container-2">
            <span class="title-1">
                WE KONNECT <br>YOU TO <br>YOUR NEXT JOB
            </span><br>
            <img src="static/images/We_Konnect.webp" alt="Two People Looking at you" class="image-1">
        </div>
        <div class="container-3">
            <div>
                <span class="title-1">Post A Job</span><br>
                <span class="title-2">Want A Skilled Personnel, <a id="link-1" href="">Post A Job </a>and Get The Best</span><br>
                <img src="static/images/Post A Job.jpg" alt="Two People Greeting each other symbolizing A Welcome" class="image-2">
            </div>
            <div>
                <span class="title-1">Register Your Expertise</span><br>
                <span class="title-2">You Are A <a id="link-1"href="">Click Away</a> from your Next Job</span><br>
                <img src="static/images/register.jpg" alt="Carpenter in A Workshop" class="image-3">
        </div>

    </main>
</body>
</html>