{% extends 'base.html' %}
{% load static%}
<link rel="stylesheet" href="{% static '/css/public/output.css' %}">
{% block body %}
<div class="mt-26 mb-11 w-11/12 h-screen relative left-10 text-white">
    <div class="class="mr-16 mx-px-8 flex h-screen ">
            <h1 class="float-left font-serif text-6xl my-8 bg-red-400">
                WE KONNECT<br>YOU TO<br>YOUR NEXT JOB
            </h1>
            <img class="float-right my-8" src="https://images.pexels.com/photos/1367269/pexels-photo-1367269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Man and Woman Facing You" width="600" height="600">
        <br><br>
        <div class="flex-auto space-y-56 py-8">
            <br>
            <h1 class="font-serif text-6xl">
                <a>Post A Job</a>
            </h1>
            <span class="font-serif text-2xl my-8">Want A Skilled Personnel <a href="" class="hover:text-white hover:bg-blue-400">Post A Job</a></span>
        </div>
    </div>
    <div class="float-right my-20 ">
        <h1 class=" font-serif text-6xl">Register Your Expertise</h1>
        <h6 class="font-serif text-2xl my-8">You are a Click Away from your Next Job</h6>
    </div>
</div>

{% endblock %}


<!-- <h1 class="float-right font-serif text-2xl ">Register Your Expertise</h1> -->
 <!-- <p class="float-left font-serif text-2xl my-8">You are a Click Away from your Next Job</p>  -->
 <!-- <div class="flex">
                <img src="" class="flex-auto w-32">
            </div> -->