<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jobkonnect</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a>Jobkonnect</a></li>
                    <li><a>Home</a></li>
                    <li><a>About Us</a></li>
                    <li><a>Contact Us</a></li>
                    <li>Find A Job</li>
                    <li>Post A Job</li>
                </ul>
            </nav>
        </header>
        <footer>
            <ul>
                <li><a>Home</a></li>
                <li><a>About Us</a></li>
                <li><a>Contact Us</a></li>
            </ul>
        </footer>
    </body>
</html>