{% load static%}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<nav class="nav-bar">
    <span class="logo">JOBKONNECT</span>
    <ul class="nav-list">
        <li class="nav-item" ><a href="/">HOME</a></li >
        <li class="nav-item"><a href="/employer/post_job">POST JOB</a></li >
        <li class="nav-item"><a href="/employee/">FIND JOB</a></li >
        <li class="nav-item"><a href="/about/">ABOUT US</a></li >
        <li class="nav-item"><a href="/contact/">CONTACT US</a></li >
        <li class="nav-item"><button ><a href="/account/login" class="buttons">LOGIN</a></button></li >
        <li class="nav-item"><button ><a href="/account/" class="buttons">REGISTER</a></button></li >
    </ul>
</nav>