{% load static%}
<link rel="stylesheet" href="{% static '/css/public/output.css' %}">
{% block body %}
<div  class="text-white p-5 ">
    <nav class=" md:flex md:items-center md:justify-between">
        <div>
            <span class="text-2xl font-[poppers] cursor-pointer ">JOBKONNECT</span>
        </div>
        <div>
            <ul class="md:flex md:items-center font-serif">
                <li class="mx-4">
                    <a href="." class=" text-xl hover:text-white hover:bg-blue-400">HOME</a>
                </li>
                <li class="mx-4">
                    <a href="" class=" text-xl hover:text-white hover:bg-blue-400">POST JOB</a>
                </li>
                <li class="mx-4">
                    <a href="" class=" text-xl hover:text-white hover:bg-blue-400">FIND JOB</a>
                </li>
                <li class="mx-4">
                    <a href="" class=" text-xl hover:text-white hover:bg-blue-400">ABOUT US</a>
                </li>
                <li class="mx-4">
                    <a href="" class=" text-xl hover:text-white hover:bg-blue-400">CONTACT US</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}



