{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title id="title">JOBKONNECT</title>
</head>
<body>
    <header>
        <navbar id="nav">
            <div class="nav">
<!--                 <div class="items">
                 <a href="" ><h1>JobKonekt</h1></a>
                </div> -->
                <div class ="items">
                    
            <b><a href="/employee">Home</a>
                <span>&nbsp;</span>
            </div><div class="items">
                <a href="/employee">Jobs</a>
                <span>&nbsp;</span>
                </div><div class="items">
                <a href="employee/<employee_name/aplications">Aplication History</a>
                <span>&nbsp;</span>
                </div><div class="items">
                <a href="/employee">Profile</a>
                <span>&nbsp;</span>
                </div><div class="items">
                <a href="/employee">Logout</a>
                <span>&nbsp;</span>
                </div><div class="right-items">
               <div class="profile-pic"><a href="" ></a></div>
                <span>&nbsp;</span>
                </div><div class="right-items">
                <div class="notifications"><a href="" class="notifications"></a>
                </div><div></div>
            </b>
            </div>
            </div>
            </div>
        </navbar>
    </header>
    <body>
    <div class="main-container">
  <!--      <h1>JobKonekt</h1>
        <h2>Find your dream job</h2>
  -->
        <section class="search-bar">
            <div class="location">
                <b>Search by location</b>
                <select>
                    <option value="location">Kimende</option>
                    <option value="location">Thika</option>
                    <option value="location">Nakuru</option>
                    <option value="location">Kisii</option>
                </select>
            </div>
            <div class="job_type">
                <b>Search by job_type</b>
                <select>
                    <option value="job_type">Software Engineering</option>
                    <option value="job_type">Electrical Engineering</option>
                    <option value="job_type">Mechanical Engineering</option>
                    <option value="job_type">Civil Engineering</option>
                </select>
            </div>
            <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
            <div class="search-button">
                <button class="searchbtn">Search</button>
            </div>
        </section>
    </div>

<div class="job-container">
    {% for job in jobs %}
    <br>
    <div class="job">
        
        <div class="job-title">
            <h3>{{job.job_title}}</h3>
            <div class="job-headings">
                <span id="job-type">Job Type:{{job.job_type}}</span> &nbsp; &nbsp;
                <span id="job-location">Job Location: {{job.job_location}}</span>
                </div>
                <br>
                <div class="job-salary">
                <span class="salary">Max Salary: {{job.max_salary}}</span>
                <span class="salary">Min Salary: {{job.min_salary}}</span>
                <span class="job-posted">Job Posted: {{job.Date_posted}}</span>
                <span id="by">By: {{job.user_id.firstname}}</span>
            </div>
        </div>
        <div class="job-description">
            <p>{{job.description}}</p>
        </div>
        <div class="job-requirements">
            <p>Job status: {{job.job_status}}</p>
        </div>
        <div class="job-apply">
            <button class="applybtn">Apply This Job</button><br>
        </div>
        <br>
        
    </div>
    {% endfor %}
</div>
</body>
</html>