{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
<head>
  <title>Job Posting - JobKonnect</title>
</head>
  <body>
    <header>
      <h1>JobKonnect</h1>
      <nav>
        <a href="base.html">Home</a>
        <a href="jobs.html" target="_blank">Find Job</a>
        <a href="post.html" target="_blank">Post Job</a>
        <a href="contact.html" target="_blank">Contact Us</a>
      </nav>
    </header>
<div class="post_job">
  <section class="postjob">
    <h2>Post a Job</h2>

    <form class="myform" action="post_job" method="POST">
      {% csrf_token %}
      <b><label for="job-title" id="title">Job Title:</label></b><br><br>
      <input type="text" id="job-title" name="job_title" required><br><br>

      <label for="company-name">Company Name:</label><br><br>
      <input type="text" id="company-name" name="company-name" required><br><br>

      <label for="job-location">Location:</label><br><br>
      <input type="text" id="job-location" name="job_location" required><br><br>

      <label for="job-description">Job Description:</label><br><br>
      <textarea id="job-description" name="description" rows="8" required></textarea><br><br>

      <label for="job-requirements">Requirements:</label><br><br>
      <textarea id="job-requirements" name="requirements" rows="4" required></textarea><br><br>

      <label for="job-salary">Salary:</label><br><br>
      <input type="text" id="job-salary" name="salary" required><br><br>

      <label for="job-type">Job Type:</label><br><br>
      <select id="job-type" name="job_type" required><br><br>
        <option value="full-time">Full-time</option>
        <option value="part-time">Part-time</option>
        <option value="contract">Contract</option>
        <option value="temporary">Temporary</option>
      </select>
      <br><br>

      <!-- <label for="application-email">Application Email:</label>
      <input type="email" id="application-email" name="application-email" required><br><br> -->

      <button type="submit">Post Job</button>
    </form>
  </section>
  </div>

  <footer>
    <p>&copy; 2023 JobKonnect. All rights reserved. | <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Service</a></p>
  </footer>
</div>
</body>
</html>
