{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title id="title">JOBKONNECT</title>
</head>
<body>
    <header>
        <navbar id="nav">
            <div class="nav">
<!--                 <div class="items">
                 <a href="" ><h1>JobKonekt</h1></a>
                </div> -->
                <div class ="items">
                    
            <b><a href="/employee">Home</a>
                <span>&nbsp;</span>
            </div><div class="items">
                <a href="/employee">Jobs</a>
                <span>&nbsp;</span>
                </div><div class="items">
                <a href="employee/<employee_name/aplications">Aplication History</a>
                <span>&nbsp;</span>
                </div><div class="items">
                <a href="/employee">Profile</a>
                <span>&nbsp;</span>
                </div><div class="items">
                <a href="/employee">Logout</a>
                <span>&nbsp;</span>
                </div><div class="right-items">
               <div class="profile-pic"><a href="" ></a></div>
                <span>&nbsp;</span>
                </div><div class="right-items">
                <div class="notifications"><a href="" class="notifications"></a>
                </div><div></div>
            </b>
            </div>
            </div>
            </div>
        </navbar>
    </header>
    <body>
    <div class="main-container">
  <!--      <h1>JobKonekt</h1>
        <h2>Find your dream job</h2>
  -->
        <section class="search-bar">
            <div class="location">
                <b>Search by location</b>
                <select>
                    <option value="location">Kimende</option>
                    <option value="location">Thika</option>
                    <option value="location">Nakuru</option>
                    <option value="location">Kisii</option>
                </select>
            </div>
            <div class="job_type">
                <b>Search by job_type</b>
                <select>
                    <option value="job_type">Software Engineering</option>
                    <option value="job_type">Electrical Engineering</option>
                    <option value="job_type">Mechanical Engineering</option>
                    <option value="job_type">Civil Engineering</option>
                </select>
            </div>
            <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
            <div class="search-button">
                <button class="searchbtn">Search</button>
            </div>
        </section>
    </div>
<div>
    <!-- Display Recent jobs i.e sort jobs by date posted.
     -->
</div>
</html>