body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    margin-left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 30%;
    /* padding: 10px; */
    border-radius: 5px;
}


/* .signup-column {
    flex: 1;
    padding: 20px;
} */

h1 {
    text-align: center;
    color: white;
    font-size: large;
}

h2 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    padding-right: 150px;
    margin-left: -2px;
    background-color: #ffffff;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    padding-right: 150px;
    background-color: #ffffff;
}
.sign-up-button{
    width: 50%;
    padding: 10px;
    background-color: #3baf3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
}
.input:hover{
    border: 1px solid black;
}
.input:focus{
    border: 1px solid black;
}
.sign-up-button:hover{
    background-color: rgb(42, 138, 42);
}